.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %h4#myModalLabel.modal-title=@movie_params[:title]
    .modal-body
      %p.poster=image_tag(@base_url+'w154'+@movie_params[:poster_path])
      %p=@movie_params[:overview]
      Production companies:
      %ul
        -@movie_params[:production_companies].each do |p|
          %li=p[:name]
      Production countries:
      %ul
        -@movie_params[:production_countries].each do |p|
          %li=p[:name]
      Release date:
      %p=@movie_params[:release_date]
      Runtime:
      %p=@movie_params[:runtime]

