:javascript
  $(".rating").rating({
    'step': 1,
    'size': 'xs',
    'starCaptions': {
        '-1': 'Not seen',
        '0': 'Very bad',
        '1': 'Bad',
        '2': 'Can be',
        '3': 'Quite fine',
        '4': 'Great movie',
        '5': 'Masterpiece'
      },
    clearCaption: "Very bad",
    });

  $(".chk-btn").bootstrapSwitch({
    'onColor': 'danger',
    'onText': 'not seen',
    'offText': 'watched'
  });

  $(".not-seen").click(function(e){
    num_id = "#rat-" + this.id.split('-')[1];
    $(num_id).rating('update', -1)
    return false;
  })

  var tour = {
      id: "hello-voter",
      steps: [
        {
          title: "Movie Title",
          content: "There are titles of movies that You can rate. Click it for more information about the movie",
          target: document.querySelector(".movie-title"),
          placement: "bottom",
          yOffset: -40
        },
        {
          title: "Current rating",
          content: "Here is your chosen rating for the movie. At the beggining all movies are set as not watched",
          target: document.querySelector(".caption"),
          placement: "bottom"
        },
        {
          title: "Zero rating",
          content: "Click here if you have seen the movie and it was very very bad",
          target: document.querySelector(".clear-rating-active"),
          placement: "right",
          yOffset: -17
        },
        {
          title: "Stars",
          content: "Click on stars to give rating from 1 to 5",
          target: document.querySelector(".rating-container"),
          placement: "bottom"
        },
        {
          title: "If mistaken",
          content: "If You made a mistake and You have not seen a movie, click here to mark it as not seen",
          target: document.querySelector(".not-seen"),
          placement: "bottom"
        }
      ]
    };

    // Start the tour!
    hopscotch.startTour(tour);


