.jumbotron.main-content
  %h1.main-title.center Movie list

  =form_tag save_evaluations_path do |f|

    %table.table.table-striped.table-hovered
      %thead
        %tr
          %th.m-id ID
          %th.m-title Title
          %th.m-rating Rating
      %tbody
        -@voter.evaluations.each_with_index do |eval,i|
          %tr
            %td=(i+1).to_s
            %td.movie-title=link_to eval.movie.title, tmbd_path(eval.movie_id) , id: "mid-#{eval.movie_id}", class: 'title-modal', 'data-toggle' => 'modal', 'data-target' => '#myModal', remote: true
            %td
              =link_to 'Not seen', "#", class: 'btn btn-warning btn-xs not-seen', id: "notseen-#{i}"
              =number_field_tag "evaluation[#{i}][rating]", -1, { class: 'rating', id: "rat-#{i}"}
              =hidden_field_tag "evaluation[#{i}][movie_id]", eval.movie_id
              =hidden_field_tag "evaluation[#{i}][voter_id]", eval.voter_id
              =#check_box_tag 'seen', 'not_seen', true, class: 'chk-btn', id: "chk-#{i}"
    =submit_tag 'Send votes', class: 'btn btn-success btn-lg btn-block', data: {confirm: 'Are You sure You want to submit votes?'}

=render 'modal'
=render 'js_ready'

:javascript
  $('.title-modal').bind('ajax:success', function(evt, data, status, xhr){
    $('#myModal').html(xhr.responseText);
  });

  $('.title-modal').bind("ajax:beforeSend", function(evt, xhr, settings){
    $('#myModal').html('');
  })
