.jumbotron.main-content
  %h1.main-title.center Please enter Your name

  =form_for @voter do |f|
    .form-group{class: "#{'has-error' if @voter.errors.any?}"}
      =f.label('Name cannot be missing and must be uniqe', class: 'control-label') if @voter.errors.any?
      =f.text_field :name, class: 'form-control'
    .form-group
      =f.submit 'Save and start voting', class: 'btn btn-lg btn-success btn-block'
