.jumbotron.main-content
  %h1.main-title.center Basic stats
  %p
    Voters count
    =@voters_count

  %p
    Voters that finished
    =@voters_finished

  %p
    Voter that registered but have not finished
    =@voters_failed

  %p
    Total number of evaluations
    =@total_evals

  %p
    Avg. seen movies per voter
    =@avg_seen_per_session

  %p
    Avg. rating
    =@avg_rating
