.main-content{width:960px;margin:0 auto;}
.jumbotron{margin-top:80px}
.center{text-align:center;margin:0 auto;}
.main-title{margin-bottom:50px;}

th.m-id{width: 5%}
th.m-title{width: 40%}
th.m-rating{width: 55%}
.not-seen{float: left; margin-top:22px; margin-right:7px;}
.poster{float:right; margin-left: 20px; height: 100%}

